{% extends 'base.html.twig' %}

{% block title %}Marmytho - Catalogue de Produits{% endblock %}

{% block body %}
<main class="container">
    <div>
        <h1 class="display-5 fw-bold mb-4">Catalogue lumi-design</h1>
        <p class="fs-4">"Découvrez notre sélection de produits exceptionnels !"</p>
    </div>

    <div class="container mt-5">
        <h2 class="mb-4">Nos Produits</h2>
        <div class="row">
            {% for product in pagination %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        {% if product.image %}
                            <img src="{{ product.image}}" class="card-img-top" alt="{{ product.name }}">
                        {% else %}
                            {# <img src="{{ asset('img/placeholder.jpg') }}" class="card-img-top" alt="Image placeholder"> #}
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">{{ product.description|length > 100 ? product.description|slice(0, 100) ~ '...' : product.description }}</p>
                             <a href="{{ path('admin_product_show', {'slug': product.slug}) }}" class="btn btn-primary">Voir le produit</a>
                             
                             <a href="{{ path('product_details', {'slug': product.slug}) }}" class="btn btn-primary">En savoir plus</a>
                        </div>
                        <div class="card-footer text-muted">
                            Prix: {{ product.price|number_format(2, ',', ' ') }} €
                            {% if product.stock > 0 %}
                                | En stock: {{ product.stock }}
                            {% else %}
                                | Rupture de stock
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {# Affichage de la pagination #}
        <div class="navigation d-flex justify-content-center mt-4">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</main>
{% endblock %}